    /*Primary */
    
    $colorStrongCyan: hsl(171, 66%, 44%);
    $colorLightBlue: hsl(233, 100%, 69%);
    /*Neutral */
    
    $colorDarkGrayishBlue: hsl(210, 10%, 33%);
    $colorGrayishBlue: hsl(201, 11%, 66%);
    $colorFooterBg: hsla(201, 11%, 66%, .1);
    $colorFooterText: hsla(210, 10%, 33%, .9);
    /*Accent*/
    
    $colorBorderCyan: hsl(171, 66%, 36%);
    $colorBorderBlue: hsl(233, 63%, 59%);
    $colorBoxShadowIos: rgba(27, 131, 115, 0.4);
    $colorBoxShadowMac: rgba(68, 81, 175, 0.4);